<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

{% assign meta_description = page.excerpt | default: site.description | strip_html | normalize_whitespace %}
<meta name="description" content="{{ meta_description }}">
<meta name="author" content="Pratyaksha Beri">
<meta property="og:type" content="{% if page.layout == 'post' %}article{% else %}website{% endif %}">
<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}">
<meta property="og:description" content="{{ meta_description }}">
<meta property="og:image" content="{{ '/images/og.png' | absolute_url }}">
<meta property="og:url" content="{{ page.url | absolute_url }}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}">
<meta name="twitter:description" content="{{ meta_description }}">
<meta name="twitter:image" content="{{ '/images/og.png' | absolute_url }}">
